.page-title {
    text-align: center;
    width: auto;
    margin-top: 20px;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

div {
    margin-left: 20px;
    margin-right: 20px;
}

button:hover {
    background-color: #114161;
}

hr {
    margin-top: 20px;
}

body {
    margin-bottom: 40px;
}

.spacer {
    height: 100px;
}