<h1>Dosen Tetap</h1>
<p>Nidn: {{ dosenTetap.nidn }}</p>
<p>Nama: {{ dosenTetap.nama }}</p>
<p>Umur: {{ dosenTetap.umur }}</p>
<p>Alamat: {{ dosenTetap.alamat }}</p>
<p>Gaji: {{ dosenTetap.gaji }}</p>

<h1>Dosen Kontrak</h1>
<p>Nidk: {{ dosenKontrak.nidk }}</p>
<p>Nama: {{ dosenKontrak.nama }}</p>
<p>Umur: {{ dosenKontrak.umur }}</p>
<p>Alamat: {{ dosenKontrak.alamat }}</p>
<p>Gaji: {{ dosenKontrak.gaji }}</p>

<h1>Jurusan</h1>
<p>Id Jurusan: {{ hukum.idJurusan }}</p>
<p>Nama Jurusan: {{ hukum.namaJurusan }}</p>
<p>Pidana: {{ hukum.pidana ? "Iya" : "Tidak"}}</p>
<br>
<p>Id Jurusan: {{ sistemInformasi.idJurusan }}</p>
<p>Nama Jurusan: {{ sistemInformasi.namaJurusan }}</p>
<p>Algoritma: {{ sistemInformasi.algoritma ? "Iya" : "Tidak"}}</p>

<h1>Gedung</h1>
<p>Nama Gedung: {{ kampusA.nama }}</p>
<p>Luas: {{ kampusA.luas }}</p>
<p>Warna: {{ kampusA.warna }}</p>
<p>Perpustakaan: {{ kampusA.perpustakaan ? "Iya" : "Tidak"}}</p>
<br>
<p>Nama Gedung: {{ kampusB.nama }}</p>
<p>Luas: {{ kampusB.luas }}</p>
<p>Warna: {{ kampusB.warna }}</p>
<p>Laboratorium: {{ kampusB.laboratorium ? "Iya" : "Tidak"}}</p>

<router-outlet></router-outlet>
